<div class="container">
  <div class="heaven">
    <div class="panel">
      <p>Gutschein für eine himmlische Aussicht über Stuttgart für zwei Personen.</p>
    </div>
    <div class= "cloud topright"><span class='shadow'></span></div>
    <div class= "cloud topleft"><span class='shadow'></span></div>
    <div class= "cloud middle"><span class='shadow'></span></div>
    <div class= "cloud middleright"><span class='shadow'></span></div>
    <div class= "cloud bottom"><span class='shadow'></span></div>

    <div class="hotairballoon away">
      <div class="balloon"></div>
      <div class="straps"></div>
      <div class="basket"></div>
    </div>

    <div class="hotairballoon faraway">
      <div class="balloon"></div>
      <div class="straps"></div>
      <div class="basket"></div>
    </div>

    <div id="animate_balloon" class="hotairballoon ground">
      <div class="heart-shape"></div>
      <div class="balloon"></div>
      <div class="straps"></div>
      <div class="basket"></div>
    </div>      

    <div class="tree large">
      <div class="leaf"></div>
      <div class="trunk"></div>
    </div>
    <div class="tree small one">
      <div class="leaf"></div>
      <div class="trunk"></div>
    </div>
    <div class="tree small two">
      <div class="leaf"></div>
      <div class="trunk"></div>
    </div>
    <div class="tree small three">
      <div class="leaf"></div>
      <div class="trunk"></div>
    </div>
  </div>
  <div class="earth">
  </div>
</div>

<script type="text/javascript">
  var balloon = $('#animate_balloon');
  alert(balloon);
</script>